<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.ccrm.dao.HsrTrinsStudentDao">

	<resultMap id="RM_HsrTrinsstudent" type="com.ccrm.entity.HsrTrinsStudent">
        <result property="pkid" column="PKID"/>
        <result property="name" column="NAME"/>
        <result property="sexual" column="SEXUAL"/>
        <result property="age" column="AGE"/>
        <result property="idnumber" column="IDNUMBER"/>
        <result property="triainyear" column="TRIAINYEAR"/>
        <result property="traintime" column="TRAINTIME"/>
        <result property="trainprof" column="TRAINPROF"/>
        <result property="trainperiod" column="TRAINPERIOD"/>
        <result property="proflevel" column="PROFLEVEL"/>
        <result property="famaddress" column="FAMADDRESS"/>
        <result property="phone" column="PHONE"/>
        <result property="ispassidentify" column="ISPASSIDENTIFY"/>
        <result property="istrainqualify" column="ISTRAINQUALIFY"/>
        <result property="memo" column="MEMO"/>
        <result property="instpkid" column="INSTPKID"/>
        <result property="branchid" column="BRANCHID"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		PKID,NAME,SEXUAL,AGE,IDNUMBER,TRIAINYEAR,TRAINTIME,TRAINPROF,TRAINPERIOD,PROFLEVEL,FAMADDRESS,PHONE,ISPASSIDENTIFY,ISTRAINQUALIFY,MEMO,INSTPKID,BRANCHID
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="save">
	    <![CDATA[
	        INSERT INTO HSR_TRINSSTUDENT (
	        	PKID ,
	        	NAME ,
	        	SEXUAL ,
	        	AGE ,
	        	IDNUMBER ,
	        	TRIAINYEAR ,
	        	TRAINTIME ,
	        	TRAINPROF ,
	        	TRAINPERIOD ,
	        	PROFLEVEL ,
	        	FAMADDRESS ,
	        	PHONE ,
	        	ISPASSIDENTIFY ,
	        	ISTRAINQUALIFY ,
	        	MEMO ,
	        	INSTPKID ,
	        	BRANCHID 
	        ) VALUES (
	        	#{pkid} ,
	        	#{name,jdbcType=VARCHAR} ,
	        	#{sexual,jdbcType=VARCHAR} ,
	        	#{age,jdbcType=DOUBLE} ,
	        	#{idnumber,jdbcType=VARCHAR} ,
	        	#{triainyear,jdbcType=VARCHAR} ,
	        	#{traintime,jdbcType=DATE} ,
	        	#{trainprof,jdbcType=VARCHAR} ,
	        	#{trainperiod,jdbcType=VARCHAR} ,
	        	#{proflevel,jdbcType=VARCHAR} ,
	        	#{famaddress,jdbcType=VARCHAR} ,
	        	#{phone,jdbcType=VARCHAR} ,
	        	#{ispassidentify,jdbcType=DOUBLE} ,
	        	#{istrainqualify,jdbcType=DOUBLE} ,
	        	#{memo,jdbcType=VARCHAR} ,
	        	#{instpkid,jdbcType=DOUBLE} ,
	        	#{branchid,jdbcType=VARCHAR} 
	        )
	    ]]>
	</insert>
	
	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if test="name != null and name != ''">
				NAME = #{name} ,
			</if>
			<if test="sexual != null and sexual != ''">
				SEXUAL = #{sexual} ,
			</if>
			<if test="age != null">
				AGE = #{age} ,
			</if>
			<if test="idnumber != null and idnumber != ''">
				IDNUMBER = #{idnumber} ,
			</if>
			<if test="triainyear != null and triainyear != ''">
				TRIAINYEAR = #{triainyear} ,
			</if>
			<if test="traintime != null">
				TRAINTIME = #{traintime} ,
			</if>
			<if test="trainprof != null and trainprof != ''">
				TRAINPROF = #{trainprof} ,
			</if>
			<if test="trainperiod != null and trainperiod != ''">
				TRAINPERIOD = #{trainperiod} ,
			</if>
			<if test="proflevel != null and proflevel != ''">
				PROFLEVEL = #{proflevel} ,
			</if>
			<if test="famaddress != null and famaddress != ''">
				FAMADDRESS = #{famaddress} ,
			</if>
			<if test="phone != null and phone != ''">
				PHONE = #{phone} ,
			</if>
			<if test="ispassidentify != null">
				ISPASSIDENTIFY = #{ispassidentify} ,
			</if>
			<if test="istrainqualify != null">
				ISTRAINQUALIFY = #{istrainqualify} ,
			</if>
			<if test="memo != null and memo != ''">
				MEMO = #{memo} ,
			</if>
			<if test="instpkid != null">
				INSTPKID = #{instpkid} ,
			</if>
			<if test="branchid != null and branchid != ''">
				BRANCHID = #{branchid} 
			</if>
		</set>
	</sql>
	
	<!-- 修改 -->
	<update id="update">
		UPDATE HSR_TRINSSTUDENT
		<include refid="update_sql" />
		WHERE
			PKID = #{pkid} 	</update>

	<!-- 根据ID删除 -->
	<delete id="delete">
    	<![CDATA[
        	DELETE FROM HSR_TRINSSTUDENT 
        	WHERE  PKID = #{pkid}
    	]]>
	</delete>
	
	<!-- getById -->
	<select id="getById" resultMap="RM_HsrTrinsstudent">
		SELECT
		<include refid="columns" />
		FROM HSR_TRINSSTUDENT
		WHERE  PKID = #{pkid}  
	</select>

	<!-- 获取总数 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(1)
		FROM HSR_TRINSSTUDENT
		<where>
			<if test="model != null">
						<if test="model.pkid != null">
							AND PKID = #{model.pkid}
						</if>
						<if test="model.name != null and model.name !=''">
							AND NAME = #{model.name}
						</if>
						<if test="model.sexual != null and model.sexual !=''">
							AND SEXUAL = #{model.sexual}
						</if>
						<if test="model.age != null">
							AND AGE = #{model.age}
						</if>
						<if test="model.idnumber != null and model.idnumber !=''">
							AND IDNUMBER = #{model.idnumber}
						</if>
						<if test="model.triainyear != null and model.triainyear !=''">
							AND TRIAINYEAR = #{model.triainyear}
						</if>
						<if test="model.traintime != null">
							AND TRAINTIME = #{model.traintime}
						</if> 
						<if test="model.trainprof != null and model.trainprof !=''">
							AND TRAINPROF = #{model.trainprof}
						</if>
						<if test="model.trainperiod != null and model.trainperiod !=''">
							AND TRAINPERIOD = #{model.trainperiod}
						</if>
						<if test="model.proflevel != null and model.proflevel !=''">
							AND PROFLEVEL = #{model.proflevel}
						</if>
						<if test="model.famaddress != null and model.famaddress !=''">
							AND FAMADDRESS = #{model.famaddress}
						</if>
						<if test="model.phone != null and model.phone !=''">
							AND PHONE = #{model.phone}
						</if>
						<if test="model.ispassidentify != null">
							AND ISPASSIDENTIFY = #{model.ispassidentify}
						</if>
						<if test="model.istrainqualify != null">
							AND ISTRAINQUALIFY = #{model.istrainqualify}
						</if>
						<if test="model.memo != null and model.memo !=''">
							AND MEMO = #{model.memo}
						</if>
						<if test="model.instpkid != null">
							AND INSTPKID = #{model.instpkid}
						</if>
						<if test="model.branchid != null and model.branchid !=''">
							AND BRANCHID = #{model.branchid}
						</if>
			</if>
		</where>
	</select>  
	
	<!-- 按条件组合搜索列表  -->
	<select id="findList" resultMap="RM_HsrTrinsstudent">
		SELECT
		<include refid="columns" />
		FROM  HSR_TRINSSTUDENT
		<where>
					<if test="pkid != null">
						AND PKID = #{pkid}
					</if>
					<if test="name != null and name !=''">
						AND NAME = #{name}
					</if>
					<if test="sexual != null and sexual !=''">
						AND SEXUAL = #{sexual}
					</if>
					<if test="age != null">
						AND AGE = #{age}
					</if>
					<if test="idnumber != null and idnumber !=''">
						AND IDNUMBER = #{idnumber}
					</if>
					<if test="triainyear != null and triainyear !=''">
						AND TRIAINYEAR = #{triainyear}
					</if>
					<if test="traintime != null">
						AND TRAINTIME = #{traintime}
					</if>
					<if test="trainprof != null and trainprof !=''">
						AND TRAINPROF = #{trainprof}
					</if>
					<if test="trainperiod != null and trainperiod !=''">
						AND TRAINPERIOD = #{trainperiod}
					</if>
					<if test="proflevel != null and proflevel !=''">
						AND PROFLEVEL = #{proflevel}
					</if>
					<if test="famaddress != null and famaddress !=''">
						AND FAMADDRESS = #{famaddress}
					</if>
					<if test="phone != null and phone !=''">
						AND PHONE = #{phone}
					</if>
					<if test="ispassidentify != null">
						AND ISPASSIDENTIFY = #{ispassidentify}
					</if>
					<if test="istrainqualify != null">
						AND ISTRAINQUALIFY = #{istrainqualify}
					</if>
					<if test="memo != null and memo !=''">
						AND MEMO = #{memo}
					</if>
					<if test="instpkid != null">
						AND INSTPKID = #{instpkid}
					</if>
					<if test="branchid != null and branchid !=''">
						AND BRANCHID = #{branchid}
					</if>
		</where>
		<if test="sortColumns != null and sortColumns !=''">
			ORDER BY #{sortColumns}
		</if>
	</select>

	<!-- 分页 -->
	<select id="findPageList" resultMap="RM_HsrTrinsstudent">
		select * from (
		select t.*, rownum rn from(
		SELECT s.* , t.name as orgName
		FROM HSR_TRINSSTUDENT s LEFT JOIN HSR_TRIINSTITUTION t on s.branchid = t.pkid  
		<where>
			<if test="model != null">
						<if test="model.pkid != null">
							AND s.PKID = #{model.pkid}
						</if>
						<if test="model.name != null and model.name !=''">
							AND s.NAME = #{model.name}
						</if>
						<if test="model.sexual != null and model.sexual !=''">
							AND s.SEXUAL = #{model.sexual}
						</if>
						<if test="model.age != null">
							AND s.AGE = #{model.age}
						</if>
						<if test="model.idnumber != null and model.idnumber !=''">
							AND s.IDNUMBER = #{model.idnumber}
						</if>
						<if test="model.triainyear != null and model.triainyear !=''">
							AND s.TRIAINYEAR = #{model.triainyear}
						</if>
						<if test="model.traintime != null">
							AND s.TRAINTIME = #{model.traintime}
						</if>
						<if test="model.trainprof != null and model.trainprof !=''">
							AND s.TRAINPROF = #{model.trainprof}
						</if>
						<if test="model.trainperiod != null and model.trainperiod !=''">
							AND s.TRAINPERIOD = #{model.trainperiod}
						</if>
						<if test="model.proflevel != null and model.proflevel !=''">
							AND s.PROFLEVEL = #{model.proflevel}
						</if>
						<if test="model.famaddress != null and model.famaddress !=''">
							AND s.FAMADDRESS = #{model.famaddress}
						</if>
						<if test="model.phone != null and model.phone !=''">
							AND s.PHONE = #{model.phone}
						</if>
						<if test="model.ispassidentify != null">
							AND s.ISPASSIDENTIFY = #{model.ispassidentify}
						</if>
						<if test="model.istrainqualify != null">
							AND s.ISTRAINQUALIFY = #{model.istrainqualify}
						</if>
						<if test="model.memo != null and model.memo !=''">
							AND s.MEMO = #{model.memo}
						</if>
						<if test="model.instpkid != null">
							AND s.INSTPKID = #{model.instpkid}
						</if>
						<if test="model.branchid != null and model.branchid !=''">
							AND s.BRANCHID = #{model.branchid}
						</if>
			</if>
		</where>
		)t)
		where rn between
		<choose>
			<when test="pager != null">
				#{pager.begin}
			</when>
			<otherwise>
				0
			</otherwise>
		</choose>
		and
		<choose>
			<when test="pager != null">
				#{pager.end}
			</when>
			<otherwise>
				20
			</otherwise>
		</choose>
	</select>

</mapper>
