<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.ccrm.dao.RegOrganaffixstrDao">

	<resultMap id="RM_RegOrganaffixstr" type="com.ccrm.entity.RegOrganaffixstr">
        <result property="pkid" column="PKID"/>
        <result property="idxid" column="IDXID"/>
        <result property="kindid" column="KINDID"/>
        <result property="status" column="STATUS"/>
        <result property="datenew" column="DATENEW"/>
        <result property="dateedit" column="DATEEDIT"/>
        <result property="value" column="VALUE"/>
        <result property="memo" column="MEMO"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		PKID,IDXID,KINDID,STATUS,DATENEW,DATEEDIT,VALUE,MEMO
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="save">
	    <![CDATA[
	        INSERT INTO REG_ORGANAFFIXSTR (
	        	PKID ,
	        	IDXID ,
	        	KINDID ,
	        	STATUS ,
	        	DATENEW ,
	        	DATEEDIT ,
	        	VALUE ,
	        	MEMO 
	        ) VALUES (
	        	#{pkid} ,
	        	#{idxid,jdbcType=INTEGER} ,
	        	#{kindid,jdbcType=INTEGER} ,
	        	#{status,jdbcType=INTEGER} ,
	        	#{datenew,jdbcType=TIMESTAMP} ,
	        	#{dateedit,jdbcType=TIMESTAMP} ,
	        	#{value,jdbcType=VARCHAR} ,
	        	#{memo,jdbcType=VARCHAR} 
	        )
	    ]]>
	</insert>
	
	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if test="idxid != null">
				IDXID = #{idxid} ,
			</if>
			<if test="kindid != null">
				KINDID = #{kindid} ,
			</if>
			<if test="status != null">
				STATUS = #{status} ,
			</if>
			<if test="datenew != null">
				DATENEW = #{datenew} ,
			</if>
			<if test="dateedit != null">
				DATEEDIT = #{dateedit} ,
			</if>
			<if test="value != null and value != ''">
				VALUE = #{value} ,
			</if>
			<if test="memo != null and memo != ''">
				MEMO = #{memo} 
			</if>
		</set>
	</sql>
	
	<!-- 修改 -->
	<update id="update">
		UPDATE REG_ORGANAFFIXSTR
		<include refid="update_sql" />
		WHERE
			PKID = #{pkid} 	</update>

	<!-- 根据ID删除 -->
	<delete id="delete">
    	<![CDATA[
        	DELETE FROM REG_ORGANAFFIXSTR 
        	WHERE  PKID = #{pkid}
    	]]>
	</delete>
	
	<!-- getById -->
	<select id="getById" resultMap="RM_RegOrganaffixstr">
		SELECT
		<include refid="columns" />
		FROM REG_ORGANAFFIXSTR
		WHERE  PKID = #{pkid}  
	</select>

	<!-- 获取总数 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(1)
		FROM REG_ORGANAFFIXSTR
		<where>
			<if test="model != null">
						<if test="model.pkid != null">
							AND PKID = #{model.pkid}
						</if>
						<if test="model.idxid != null">
							AND IDXID = #{model.idxid}
						</if>
						<if test="model.kindid != null">
							AND KINDID = #{model.kindid}
						</if>
						<if test="model.status != null">
							AND STATUS = #{model.status}
						</if>
						<if test="model.datenew != null">
							AND DATENEW = #{model.datenew}
						</if> 
						<if test="model.dateedit != null">
							AND DATEEDIT = #{model.dateedit}
						</if> 
						<if test="model.value != null and model.value !=''">
							AND VALUE = #{model.value}
						</if>
						<if test="model.memo != null and model.memo !=''">
							AND MEMO = #{model.memo}
						</if>
			</if>
		</where>
	</select>  
	
	<!-- 按条件组合搜索列表  -->
	<select id="findList" resultMap="RM_RegOrganaffixstr">
		SELECT
		<include refid="columns" />
		FROM  REG_ORGANAFFIXSTR
		<where>
					<if test="pkid != null">
						AND PKID = #{pkid}
					</if>
					<if test="idxid != null">
						AND IDXID = #{idxid}
					</if>
					<if test="kindid != null">
						AND KINDID = #{kindid}
					</if>
					<if test="status != null">
						AND STATUS = #{status}
					</if>
					<if test="datenew != null">
						AND DATENEW = #{datenew}
					</if>
					<if test="dateedit != null">
						AND DATEEDIT = #{dateedit}
					</if>
					<if test="value != null and value !=''">
						AND VALUE = #{value}
					</if>
					<if test="memo != null and memo !=''">
						AND MEMO = #{memo}
					</if>
		</where>
		<if test="sortColumns != null and sortColumns !=''">
			ORDER BY #{sortColumns}
		</if>
	</select>

	<!-- 分页 -->
	<select id="findPageList" resultMap="RM_RegOrganaffixstr">
		SELECT <include refid="columns" />
		FROM REG_ORGANAFFIXSTR
		<where>
			<if test="model != null">
						<if test="model.pkid != null">
							AND PKID = #{model.pkid}
						</if>
						<if test="model.idxid != null">
							AND IDXID = #{model.idxid}
						</if>
						<if test="model.kindid != null">
							AND KINDID = #{model.kindid}
						</if>
						<if test="model.status != null">
							AND STATUS = #{model.status}
						</if>
						<if test="model.datenew != null">
							AND DATENEW = #{model.datenew}
						</if>
						<if test="model.dateedit != null">
							AND DATEEDIT = #{model.dateedit}
						</if>
						<if test="model.value != null and model.value !=''">
							AND VALUE = #{model.value}
						</if>
						<if test="model.memo != null and model.memo !=''">
							AND MEMO = #{model.memo}
						</if>
			</if>
		</where>
		limit 
		<choose>
			<when test="pager != null">
				#{pager.begin},#{pager.pageSize}
			</when>
			<otherwise>
				0,10
			</otherwise>
		</choose>
	</select>

</mapper>
