<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.ccrm.dao.TirClassimageDao">

	<resultMap id="RM_TirClassimage" type="com.ccrm.entity.TirClassimage">
        <result property="idxid" column="IDXID"/>
        <result property="fileexp" column="FILEEXP"/>
        <result property="value" column="VALUE"/>
        <result property="status" column="STATUS"/>
        <result property="datenew" column="DATENEW"/>
        <result property="dateedit" column="DATEEDIT"/>
        <result property="memo" column="MEMO"/>
        <result property="pkid" column="PKID"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		IDXID,FILEEXP,VALUE,STATUS,DATENEW,DATEEDIT,MEMO,PKID
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="save">
	    <![CDATA[
	        INSERT INTO TIR_CLASSIMAGE (
	        	IDXID ,
	        	FILEEXP ,
	        	VALUE ,
	        	STATUS ,
	        	DATENEW ,
	        	DATEEDIT ,
	        	MEMO ,
	        	PKID 
	        ) VALUES (
	        	#{idxid} ,
	        	#{fileexp} ,
	        	#{value} ,
	        	#{status} ,
	        	#{datenew} ,
	        	#{dateedit} ,
	        	#{memo} ,
	        	#{pkid} 
	        )
	    ]]>
	</insert>
	
	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if test="idxid != null">
				IDXID = #{idxid} ,
			</if>
			<if test="fileexp != null and fileexp != ''">
				FILEEXP = #{fileexp} ,
			</if>
			<if test="value != null and value != ''">
				VALUE = #{value} ,
			</if>
			<if test="status != null">
				STATUS = #{status} ,
			</if>
			<if test="memo != null and memo != ''">
				MEMO = #{memo} 
			</if>
		</set>
	</sql>
	
	<!-- 修改 -->
	<update id="update">
		UPDATE TIR_CLASSIMAGE
		<include refid="update_sql" />
		WHERE
			PKID = #{pkid} 	</update>

	<!-- 根据ID删除 -->
	<delete id="delete">
    	<![CDATA[
        	DELETE FROM TIR_CLASSIMAGE 
        	WHERE  PKID = #{pkid}
    	]]>
	</delete>
	
	<!-- getById -->
	<select id="getById" resultMap="RM_TirClassimage">
		SELECT
		<include refid="columns" />
		FROM TIR_CLASSIMAGE
		WHERE  PKID = #{pkid}  
	</select>

	<!-- 获取总数 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(1)
		FROM TIR_CLASSIMAGE
		<where>
			<if test="model != null">
						<if test="model.idxid != null">
							AND IDXID = #{model.idxid}
						</if>
						<if test="model.fileexp != null and model.fileexp !=''">
							AND FILEEXP = #{model.fileexp}
						</if>
						<if test="model.value != null and model.value !=''">
							AND VALUE = #{model.value}
						</if>
						<if test="model.status != null">
							AND STATUS = #{model.status}
						</if>
						<if test="model.memo != null and model.memo !=''">
							AND MEMO = #{model.memo}
						</if>
						<if test="model.pkid != null">
							AND PKID = #{model.pkid}
						</if>
			</if>
		</where>
	</select>  
	
	<!-- 按条件组合搜索列表  -->
	<select id="findList" resultMap="RM_TirClassimage">
		SELECT
		<include refid="columns" />
		FROM  TIR_CLASSIMAGE
		<where>
					<if test="idxid != null">
						AND IDXID = #{idxid}
					</if>
					<if test="fileexp != null and fileexp !=''">
						AND FILEEXP = #{fileexp}
					</if>
					<if test="value != null and value !=''">
						AND VALUE = #{value}
					</if>
					<if test="status != null">
						AND STATUS = #{status}
					</if>
					<if test="memo != null and memo !=''">
						AND MEMO = #{memo}
					</if>
					<if test="pkid != null">
						AND PKID = #{pkid}
					</if>
		</where>
		<if test="sortColumns != null and sortColumns !=''">
			ORDER BY #{sortColumns}
		</if>
	</select>

	<!-- 分页 -->
	<select id="findPageList" resultMap="RM_TirClassimage">
	select * from (
		SELECT *, rownum rn from(
		FROM TIR_CLASSIMAGE
		<where>
			<if test="model != null">
						<if test="model.idxid != null">
							AND IDXID = #{model.idxid}
						</if>
						<if test="model.fileexp != null and model.fileexp !=''">
							AND FILEEXP = #{model.fileexp}
						</if>
						<if test="model.value != null and model.value !=''">
							AND VALUE = #{model.value}
						</if>
						<if test="model.status != null">
							AND STATUS = #{model.status}
						</if>
						<if test="model.memo != null and model.memo !=''">
							AND MEMO = #{model.memo}
						</if>
						<if test="model.pkid != null">
							AND PKID = #{model.pkid}
						</if>
			</if>
		</where>
		)t)
		where rn between
		<choose>
			<when test="pager != null">
				#{pager.begin}
			</when>
			<otherwise>
				 0 
			</otherwise>
		</choose>
		and 
		<choose>
			<when test="pager != null">
				#{pager.end}
			</when>
			<otherwise>
				20
			</otherwise>
		</choose>
	</select>

</mapper>
