<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.ccrm.dao.UmgOperatorDao">

	<resultMap id="RM_UmgOperator" type="com.ccrm.entity.UmgOperator">
        <result property="kindid" column="KINDID"/>
        <result property="branchid" column="BRANCHID"/>
        <result property="organid" column="ORGANID"/>
        <result property="seqno" column="SEQNO"/>
        <result property="cid" column="CID"/>
        <result property="name" column="NAME"/>
        <result property="namepy" column="NAMEPY"/>
        <result property="password" column="PASSWORD"/>
        <result property="roleid" column="ROLEID"/>
        <result property="status" column="STATUS"/>
        <result property="mobilecell" column="MOBILECELL"/>
        <result property="email" column="EMAIL"/>
        <result property="datenew" column="DATENEW"/>
        <result property="dateedit" column="DATEEDIT"/>
        <result property="isinitpassword" column="ISINITPASSWORD"/>
        <result property="memo" column="MEMO"/>
        <result property="pkid" column="PKID"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		KINDID,BRANCHID,ORGANID,SEQNO,CID,NAME,NAMEPY,PASSWORD,ROLEID,STATUS,MOBILECELL,EMAIL,DATENEW,DATEEDIT,ISINITPASSWORD,MEMO,PKID
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="save">
	    <![CDATA[
	        INSERT INTO UMG_OPERATOR (
	        	KINDID ,
	        	BRANCHID ,
	        	ORGANID ,
	        	SEQNO ,
	        	CID ,
	        	NAME ,
	        	NAMEPY ,
	        	PASSWORD ,
	        	ROLEID ,
	        	STATUS ,
	        	MOBILECELL ,
	        	EMAIL ,
	        	DATENEW ,
	        	DATEEDIT ,
	        	ISINITPASSWORD ,
	        	MEMO ,
	        	PKID 
	        ) VALUES (
	        	#{kindid,jdbcType=INTEGER} ,
	        	#{branchid,jdbcType=INTEGER} ,
	        	#{organid,jdbcType=INTEGER} ,
	        	#{seqno,jdbcType=INTEGER} ,
	        	#{cid,jdbcType=VARCHAR2} ,
	        	#{name,jdbcType=VARCHAR2} ,
	        	#{namepy,jdbcType=VARCHAR2} ,
	        	#{password,jdbcType=VARCHAR2} ,
	        	#{roleid,jdbcType=INTEGER} ,
	        	#{status,jdbcType=INTEGER} ,
	        	#{mobilecell,jdbcType=VARCHAR2} ,
	        	#{email,jdbcType=VARCHAR2} ,
	        	#{datenew,jdbcType=DATE} ,
	        	#{dateedit,jdbcType=DATE} ,
	        	#{isinitpassword,jdbcType=INTEGER} ,
	        	#{memo,jdbcType=VARCHAR2} ,
	        	#{pkid} 
	        )
	    ]]>
	</insert>
	
	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if test="kindid != null">
				KINDID = #{kindid} ,
			</if>
			<if test="branchid != null">
				BRANCHID = #{branchid} ,
			</if>
			<if test="organid != null">
				ORGANID = #{organid} ,
			</if>
			<if test="seqno != null">
				SEQNO = #{seqno} ,
			</if>
			<if test="cid != null and cid != ''">
				CID = #{cid} ,
			</if>
			<if test="name != null and name != ''">
				NAME = #{name} ,
			</if>
			<if test="namepy != null and namepy != ''">
				NAMEPY = #{namepy} ,
			</if>
			<if test="password != null and password != ''">
				PASSWORD = #{password} ,
			</if>
			<if test="roleid != null">
				ROLEID = #{roleid} ,
			</if>
			<if test="status != null">
				STATUS = #{status} ,
			</if>
			<if test="mobilecell != null and mobilecell != ''">
				MOBILECELL = #{mobilecell} ,
			</if>
			<if test="email != null and email != ''">
				EMAIL = #{email} ,
			</if>
			<if test="datenew != null">
				DATENEW = #{datenew} ,
			</if>
			<if test="dateedit != null">
				DATEEDIT = #{dateedit} ,
			</if>
			<if test="isinitpassword != null">
				ISINITPASSWORD = #{isinitpassword} ,
			</if>
			<if test="memo != null and memo != ''">
				MEMO = #{memo} 
			</if>
		</set>
	</sql>
	
	<!-- 修改 -->
	<update id="update">
		UPDATE UMG_OPERATOR
		<include refid="update_sql" />
		WHERE
			PKID = #{pkid} 	</update>

	<!-- 根据ID删除 -->
	<delete id="delete">
    	<![CDATA[
        	DELETE FROM UMG_OPERATOR 
        	WHERE  PKID = #{pkid}
    	]]>
	</delete>
	
	<!-- getById -->
	<select id="getById" resultMap="RM_UmgOperator">
		SELECT
		<include refid="columns" />
		FROM UMG_OPERATOR
		WHERE  PKID = #{pkid}  
	</select>
	
	<!-- getUserByCid -->
	<select id="getUserByCid" resultMap="RM_UmgOperator">
		SELECT
		<include refid="columns" />
		FROM UMG_OPERATOR
		WHERE  CID = #{loginName} or mobilecell = #{loginName} or email = #{loginName} and status = 1
		
	</select>

	<!-- 获取总数 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(1)
		FROM UMG_OPERATOR
		<where>
			<if test="model != null">
						<if test="model.kindid != null">
							AND KINDID = #{model.kindid}
						</if>
						<if test="model.branchid != null">
							AND BRANCHID = #{model.branchid}
						</if>
						<if test="model.organid != null">
							AND ORGANID = #{model.organid}
						</if>
						<if test="model.seqno != null">
							AND SEQNO = #{model.seqno}
						</if>
						<if test="model.cid != null and model.cid !=''">
							AND CID = #{model.cid}
						</if>
						<if test="model.name != null and model.name !=''">
							AND NAME = #{model.name}
						</if>
						<if test="model.namepy != null and model.namepy !=''">
							AND NAMEPY = #{model.namepy}
						</if>
						<if test="model.password != null and model.password !=''">
							AND PASSWORD = #{model.password}
						</if>
						<if test="model.roleid != null">
							AND ROLEID = #{model.roleid}
						</if>
						<if test="model.status != null">
							AND STATUS = #{model.status}
						</if>
						<if test="model.mobilecell != null and model.mobilecell !=''">
							AND MOBILECELL = #{model.mobilecell}
						</if>
						<if test="model.email != null and model.email !=''">
							AND EMAIL = #{model.email}
						</if>
						<if test="model.datenew != null">
							AND DATENEW = #{model.datenew}
						</if> 
						<if test="model.dateedit != null">
							AND DATEEDIT = #{model.dateedit}
						</if> 
						<if test="model.isinitpassword != null">
							AND ISINITPASSWORD = #{model.isinitpassword}
						</if>
						<if test="model.memo != null and model.memo !=''">
							AND MEMO = #{model.memo}
						</if>
						<if test="model.pkid != null">
							AND PKID = #{model.pkid}
						</if>
			</if>
		</where>
	</select>  
	
	<!-- 按条件组合搜索列表  -->
	<select id="findList" resultMap="RM_UmgOperator">
		SELECT
		<include refid="columns" />
		FROM  UMG_OPERATOR
		<where>
					<if test="kindid != null">
						AND KINDID = #{kindid}
					</if>
					<if test="branchid != null">
						AND BRANCHID = #{branchid}
					</if>
					<if test="organid != null">
						AND ORGANID = #{organid}
					</if>
					<if test="seqno != null">
						AND SEQNO = #{seqno}
					</if>
					<if test="cid != null and cid !=''">
						AND CID = #{cid}
					</if>
					<if test="name != null and name !=''">
						AND NAME = #{name}
					</if>
					<if test="namepy != null and namepy !=''">
						AND NAMEPY = #{namepy}
					</if>
					<if test="password != null and password !=''">
						AND PASSWORD = #{password}
					</if>
					<if test="roleid != null">
						AND ROLEID = #{roleid}
					</if>
					<if test="status != null">
						AND STATUS = #{status}
					</if>
					<if test="mobilecell != null and mobilecell !=''">
						AND MOBILECELL = #{mobilecell}
					</if>
					<if test="email != null and email !=''">
						AND EMAIL = #{email}
					</if>
					<if test="datenew != null">
						AND DATENEW = #{datenew}
					</if>
					<if test="dateedit != null">
						AND DATEEDIT = #{dateedit}
					</if>
					<if test="isinitpassword != null">
						AND ISINITPASSWORD = #{isinitpassword}
					</if>
					<if test="memo != null and memo !=''">
						AND MEMO = #{memo}
					</if>
					<if test="pkid != null">
						AND PKID = #{pkid}
					</if>
		</where>
		<if test="sortColumns != null and sortColumns !=''">
			ORDER BY #{sortColumns}
		</if>
	</select>

	<!-- 分页 -->
	<select id="findPageList" resultMap="RM_UmgOperator">
		SELECT <include refid="columns" />
		FROM UMG_OPERATOR
		<where>
			<if test="model != null">
						<if test="model.kindid != null">
							AND KINDID = #{model.kindid}
						</if>
						<if test="model.branchid != null">
							AND BRANCHID = #{model.branchid}
						</if>
						<if test="model.organid != null">
							AND ORGANID = #{model.organid}
						</if>
						<if test="model.seqno != null">
							AND SEQNO = #{model.seqno}
						</if>
						<if test="model.cid != null and model.cid !=''">
							AND CID = #{model.cid}
						</if>
						<if test="model.name != null and model.name !=''">
							AND NAME = #{model.name}
						</if>
						<if test="model.namepy != null and model.namepy !=''">
							AND NAMEPY = #{model.namepy}
						</if>
						<if test="model.password != null and model.password !=''">
							AND PASSWORD = #{model.password}
						</if>
						<if test="model.roleid != null">
							AND ROLEID = #{model.roleid}
						</if>
						<if test="model.status != null">
							AND STATUS = #{model.status}
						</if>
						<if test="model.mobilecell != null and model.mobilecell !=''">
							AND MOBILECELL = #{model.mobilecell}
						</if>
						<if test="model.email != null and model.email !=''">
							AND EMAIL = #{model.email}
						</if>
						<if test="model.datenew != null">
							AND DATENEW = #{model.datenew}
						</if>
						<if test="model.dateedit != null">
							AND DATEEDIT = #{model.dateedit}
						</if>
						<if test="model.isinitpassword != null">
							AND ISINITPASSWORD = #{model.isinitpassword}
						</if>
						<if test="model.memo != null and model.memo !=''">
							AND MEMO = #{model.memo}
						</if>
						<if test="model.pkid != null">
							AND PKID = #{model.pkid}
						</if>
			</if>
		</where>
		limit 
		<choose>
			<when test="pager != null">
				#{pager.begin},#{pager.pageSize}
			</when>
			<otherwise>
				0,10
			</otherwise>
		</choose>
	</select>

</mapper>
