<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean id="messageDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${ccrm.jdbc.driver}" />
		<property name="jdbcUrl" value="${ccrm.jdbc.url}" />
		<property name="user" value="${ccrm.jdbc.username}" />
		<property name="password" value="${ccrm.jdbc.password}" />
		<property name="initialPoolSize" value="${ccrm.connection_pools.initial_pool_size}" />
		<property name="minPoolSize" value="${ccrm.connection_pools.min_pool_size}" />
		<property name="maxPoolSize" value="${ccrm.connection_pools.max_pool_size}" />
		<property name="maxIdleTime" value="${ccrm.connection_pools.max_idle_time}" />
		<property name="acquireIncrement" value="${ccrm.connection_pools.acquire_increment}" />
		<property name="checkoutTimeout" value="${ccrm.connection_pools.checkout_timeout}" />
	</bean>

	<!-- 开启事务注解驱动 -->
	<tx:annotation-driven />

	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="messageDataSource" />
	</bean>

	<!-- 创建SqlSessionFactory，同时指定数据源 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="messageDataSource" />
		<property name="mapperLocations" value="classpath:mybatis/*Mapper.xml" />
	</bean>

	<!-- spring mybatis整合且扫描dao层自动注入 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.ccrmv2.**.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	

</beans>